*.bin
bin/*
*.swp
*.o
temp/*
kernel/tests/*.a
kernel/tests/Makefile
kernel/tests/rtest_*
kernel/tests/*.cmake
kernel/tests/CMakeFiles/*
kernel/tests/CMakeCache*
*/CMakeFiles*
*/CMakeCaches*
*/.cmake
drivers/tests/CMakeFiles/*
*.cmake
*CMakeCache.txt
logs.txt
bx_enh_dbg.ini
bochsout.txt
*.out
isodir/*

